* {
    margin: 0;
    padding: 0;
}
body{
    margin-top: 70px!important;
}

ul{
    list-style-type: none;
}

ul.navbar-right{
    margin-right: 0;
}

/*div.nav {*/
/*    background-color: #eeeeee;*/
/*    padding: 10px 5px;*/
/*    border-bottom: 1px solid #ccc;*/
/*}*/

/*div.nav a {*/
/*    text-decoration: none;*/
/*    color: black;*/
/*    padding: 5px 10px;*/
/*}*/

/*div.nav a.logo {*/
/*    display: inline-block;*/
/*    font-size: 120%;*/
/*}*/
